In [1]:
import pandas as pd
import numpy as np

In [2]:
df_oil = pd.read_csv(r'C:\Users\nhl08\OneDrive\Documents\AI02\Udemy\Store Sales\csv\oil.csv', parse_dates=['date'], infer_datetime_format=True)

df_stores = pd.read_csv(r'C:\Users\nhl08\OneDrive\Documents\AI02\Udemy\Store Sales\stores.csv')

df_train = pd.read_csv(r'C:\Users\nhl08\OneDrive\Documents\AI02\Udemy\Store Sales\train.csv')

df_test = pd.read_csv(r'C:\Users\nhl08\OneDrive\Documents\AI02\Udemy\Store Sales\test.csv')

df_holidays = pd.read_csv(r'C:\Users\nhl08\OneDrive\Documents\AI02\Udemy\Store Sales\holidays_events.csv', parse_dates=['date'], infer_datetime_format=True)

df_transaction =  pd.read_csv(r'C:\Users\nhl08\OneDrive\Documents\AI02\Udemy\Store Sales\csv\transactions.csv', parse_dates=['date'], infer_datetime_format=True)

C:\Users\nhl08\AppData\Local\Temp\ipykernel_11964\2207761575.py:1: FutureWarning: The argument 'infer_datetime_format' is deprecated and will be removed in a future version. A strict version of it is now the default, see https://pandas.pydata.org/pdeps/0004-consistent-to-datetime-parsing.html. You can safely remove this argument.
  df_oil = pd.read_csv(r'C:\Users\nhl08\OneDrive\Documents\AI02\Udemy\Store Sales\csv\oil.csv', parse_dates=['date'], infer_datetime_format=True)
C:\Users\nhl08\AppData\Local\Temp\ipykernel_11964\2207761575.py:9: FutureWarning: The argument 'infer_datetime_format' is deprecated and will be removed in a future version. A strict version of it is now the default, see https://pandas.pydata.org/pdeps/0004-consistent-to-datetime-parsing.html. You can safely remove this argument.
  df_holidays = pd.read_csv(r'C:\Users\nhl08\OneDrive\Documents\AI02\Udemy\Store Sales\holidays_events.csv', parse_dates=['date'], infer_datetime_format=True)
C:\Users\nhl08\AppData\Local\Temp\ipykernel_11964\2207761575.py:11: FutureWarning: The argument 'infer_datetime_format' is deprecated and will be removed in a future version. A strict version of it is now the default, see https://pandas.pydata.org/pdeps/0004-consistent-to-datetime-parsing.html. You can safely remove this argument.
  df_transaction =  pd.read_csv(r'C:\Users\nhl08\OneDrive\Documents\AI02\Udemy\Store Sales\csv\transactions.csv', parse_dates=['date'], infer_datetime_format=True)

In [3]:
df_oil['date'] = pd.to_datetime(df_oil['date'])
df_holidays['date'] = pd.to_datetime(df_holidays['date'])
df_transaction['date'] = pd.to_datetime(df_transaction['date'])
df_train['date'] = pd.to_datetime(df_train['date'])
df_test['date'] = pd.to_datetime(df_test['date'])

In [4]:
df_train = df_train.merge(df_oil, on='date', how='left')
df_train = df_train.merge(df_holidays, on='date', how='left')
df_train = df_train.merge(df_transaction, on=['date', 'store_nbr'], how='left')
df_train = df_train.merge(df_stores, on='store_nbr', how='left')

In [5]:
df_test = df_test.merge(df_oil, on='date', how='left')
df_test = df_test.merge(df_holidays, on='date', how='left')
df_test = df_test.merge(df_transaction, on=['date', 'store_nbr'], how='left')
df_test = df_test.merge(df_stores, on='store_nbr', how='left')

In [6]:
df_train1 = df_train
df_test1 = df_test

In [7]:
def process_date_columns(data):
    data['date'] = pd.to_datetime(data['date'])

    data['year'] = data['date'].dt.year
    data['quarter'] = data['date'].dt.quarter
    data['year_quarter'] = data['year'].astype(str) + 'Q' + data['quarter'].astype(str)
    data['month'] = data['date'].dt.month
    data['day'] = data['date'].dt.day
    data['day_of_week'] = data['date'].dt.dayofweek

    day_order = ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday']
    data['day_name'] = pd.Categorical(data['date'].dt.day_name(), categories=day_order, ordered=True)

    data['year_month'] = data['year'].astype(str) + "-" + data['month'].astype(str).str.zfill(2)

    data['weekend_flag'] = data['day_name'].apply(lambda x: 3 if x == 'Sunday' else 2 if x == 'Saturday' else 1).astype(int)

    return data

In [8]:
df_train1 = process_date_columns(df_train1)
df_test1 = process_date_columns(df_test1)

In [9]:
df_train1.head()

,id,date,store_nbr,family,sales,onpromotion,dcoilwtico,type_x,locale,locale_name,...,cluster,year,quarter,year_quarter,month,day,day_of_week,day_name,year_month,weekend_flag
0,0,2013-01-01,1,AUTOMOTIVE,0.0,0,NaN,Holiday,National,Ecuador,...,13,2013,1,2013Q1,1,1,1,Tuesday,2013-01,1
1,1,2013-01-01,1,BABY CARE,0.0,0,NaN,Holiday,National,Ecuador,...,13,2013,1,2013Q1,1,1,1,Tuesday,2013-01,1
2,2,2013-01-01,1,BEAUTY,0.0,0,NaN,Holiday,National,Ecuador,...,13,2013,1,2013Q1,1,1,1,Tuesday,2013-01,1
3,3,2013-01-01,1,BEVERAGES,0.0,0,NaN,Holiday,National,Ecuador,...,13,2013,1,2013Q1,1,1,1,Tuesday,2013-01,1
4,4,2013-01-01,1,BOOKS,0.0,0,NaN,Holiday,National,Ecuador,...,13,2013,1,2013Q1,1,1,1,Tuesday,2013-01,1

In [10]:
df_train1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3054348 entries, 0 to 3054347
Data columns (total 26 columns):
 #   Column        Dtype
---  ------        -----
 0   id            int64
 1   date          datetime64[ns]
 2   store_nbr     int64
 3   family        object
 4   sales         float64
 5   onpromotion   int64
 6   dcoilwtico    float64
 7   type_x        object
 8   locale        object
 9   locale_name   object
 10  description   object
 11  transferred   object
 12  transactions  float64
 13  city          object
 14  state         object
 15  type_y        object
 16  cluster       int64
 17  year          int32
 18  quarter       int32
 19  year_quarter  object
 20  month         int32
 21  day           int32
 22  day_of_week   int32
 23  day_name      category
 24  year_month    object
 25  weekend_flag  int32
dtypes: category(1), datetime64[ns](1), float64(3), int32(6), int64(4), object(11)
memory usage: 515.6+ MB

In [11]:
df_train1.isnull().sum()

id                    0
date                  0
store_nbr             0
family                0
sales                 0
onpromotion           0
dcoilwtico       955152
type_x          2551824
locale          2551824
locale_name     2551824
description     2551824
transferred     2551824
transactions     249117
city                  0
state                 0
type_y                0
cluster               0
year                  0
quarter               0
year_quarter          0
month                 0
day                   0
day_of_week           0
day_name              0
year_month            0
weekend_flag          0
dtype: int64

In [12]:
df_train1['transferred'].unique()

array([False, nan, True], dtype=object)

In [13]:
df_train1['transferred'] = df_train1['transferred'].map({False: 0, True: 1}).fillna(2).astype(int)
df_test1['transferred'] = df_test1['transferred'].map({False: 0, True: 1}).fillna(2).astype(int)

In [14]:
from sklearn.impute import SimpleImputer

columns_to_process = ['type_x', 'type_y', 'locale', 'locale_name', 'description']

imputer = SimpleImputer(strategy='constant', fill_value='unknown')
df_train1[columns_to_process] = imputer.fit_transform(df_train1[columns_to_process])
df_test1[columns_to_process] = imputer.fit_transform(df_test1[columns_to_process])

In [15]:
df_train1['transactions'] = df_train1['transactions'].fillna(0)
df_train1['dcoilwtico'] = df_train1['dcoilwtico'].bfill()

df_test1['transactions'] = df_test1['transactions'].fillna(0)
df_test1['dcoilwtico'] = df_test1['dcoilwtico'].bfill()

In [16]:
df_train1.isnull().sum()

id              0
date            0
store_nbr       0
family          0
sales           0
onpromotion     0
dcoilwtico      0
type_x          0
locale          0
locale_name     0
description     0
transferred     0
transactions    0
city            0
state           0
type_y          0
cluster         0
year            0
quarter         0
year_quarter    0
month           0
day             0
day_of_week     0
day_name        0
year_month      0
weekend_flag    0
dtype: int64

In [17]:
df_test1.isnull().sum()

id              0
date            0
store_nbr       0
family          0
onpromotion     0
dcoilwtico      0
type_x          0
locale          0
locale_name     0
description     0
transferred     0
transactions    0
city            0
state           0
type_y          0
cluster         0
year            0
quarter         0
year_quarter    0
month           0
day             0
day_of_week     0
day_name        0
year_month      0
weekend_flag    0
dtype: int64

In [18]:
numerical_columns = df_train1.select_dtypes(include=['number']).columns.tolist()
print("Numerical Columns:", numerical_columns)

categorical_columns = df_train1.select_dtypes(include=['object', 'category']).columns.tolist()
print("Categorical Columns:", categorical_columns)

Numerical Columns: ['id', 'store_nbr', 'sales', 'onpromotion', 'dcoilwtico', 'transferred', 'transactions', 'cluster', 'year', 'quarter', 'month', 'day', 'day_of_week', 'weekend_flag']
Categorical Columns: ['family', 'type_x', 'locale', 'locale_name', 'description', 'city', 'state', 'type_y', 'year_quarter', 'day_name', 'year_month']

In [19]:
df_train1['cluster'].unique()

array([13, 15,  6,  7,  3, 12, 16,  9,  1, 10,  8,  2,  4,  5, 11, 14, 17],
      dtype=int64)

In [20]:
df_train1[['year', 'quarter', 'month', 'day', 'day_of_week', 'weekend_flag']].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3054348 entries, 0 to 3054347
Data columns (total 6 columns):
 #   Column        Dtype
---  ------        -----
 0   year          int32
 1   quarter       int32
 2   month         int32
 3   day           int32
 4   day_of_week   int32
 5   weekend_flag  int32
dtypes: int32(6)
memory usage: 69.9 MB

In [21]:
print(df_train1[['locale', 'locale_name', 'city', 'state', 'type_x', 'type_y']].dtypes)

locale         object
locale_name    object
city           object
state          object
type_x         object
type_y         object
dtype: object

In [33]:
print(df_train1['description'].dtype)
print(df_train1['description'].head())
print(df_train1['description'].isnull().sum())

object
0    Primer dia del ano
1    Primer dia del ano
2    Primer dia del ano
3    Primer dia del ano
4    Primer dia del ano
Name: description, dtype: object
0

In [36]:
df_train1['description'].isnull().sum()

0

In [38]:
df_train1['description'] = df_train1['description'].astype(str)

In [41]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder, StandardScaler, OrdinalEncoder
from sklearn.feature_extraction.text import TfidfVectorizer

preprocessor = ColumnTransformer(
    transformers=[
        ('ordinal', OrdinalEncoder(handle_unknown='use_encoded_value', unknown_value=-1), 
         ['locale', 'locale_name', 'city', 'state', 'type_x', 'type_y', 'year_quarter', 'year_month']),
         
        ('ordinal_day_name', OrdinalEncoder(categories=[['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday']]),
         ['day_name']),

        ('ohe', OneHotEncoder(sparse_output=True, handle_unknown='ignore'), 
         ['family']),

        ('ss', StandardScaler(), 
         ['onpromotion', 'dcoilwtico',  'transactions']),
        
        ('passthrough', 'passthrough', 
         []),
    ],
    remainder='passthrough',
    verbose_feature_names_out=False
)

In [42]:
transformed_df_train1 = preprocessor.fit_transform(df_train1)

In [79]:
transformed_df_test1 = preprocessor.fit_transform(df_test1)

In [43]:
column_names = (preprocessor.get_feature_names_out())
transformed_df_train1 = pd.DataFrame(transformed_df_train1, columns=column_names)

transformed_df_train1.head()

,locale,locale_name,city,state,type_x,type_y,year_quarter,year_month,day_name,family_AUTOMOTIVE,...,sales,description,transferred,cluster,year,quarter,month,day,day_of_week,weekend_flag
0,1.0,4.0,18.0,12.0,3.0,3.0,0.0,0.0,1.0,1.0,...,0.0,Primer dia del ano,0,13,2013,1,1,1,1,1
1,1.0,4.0,18.0,12.0,3.0,3.0,0.0,0.0,1.0,0.0,...,0.0,Primer dia del ano,0,13,2013,1,1,1,1,1
2,1.0,4.0,18.0,12.0,3.0,3.0,0.0,0.0,1.0,0.0,...,0.0,Primer dia del ano,0,13,2013,1,1,1,1,1
3,1.0,4.0,18.0,12.0,3.0,3.0,0.0,0.0,1.0,0.0,...,0.0,Primer dia del ano,0,13,2013,1,1,1,1,1
4,1.0,4.0,18.0,12.0,3.0,3.0,0.0,0.0,1.0,0.0,...,0.0,Primer dia del ano,0,13,2013,1,1,1,1,1

In [82]:
columns_without_sales = [col for col in column_names if col != 'sales']
transformed_df_test1 = pd.DataFrame(transformed_df_test1, columns=columns_without_sales)

In [ ]:
transformed_df_train1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3054348 entries, 0 to 3054347
Data columns (total 58 columns):
 #   Column                             Dtype
---  ------                             -----
 0   locale                             object
 1   locale_name                        object
 2   city                               object
 3   state                              object
 4   type_x                             object
 5   type_y                             object
 6   year_quarter                       object
 7   year_month                         object
 8   day_name                           object
 9   family_AUTOMOTIVE                  object
 10  family_BABY CARE                   object
 11  family_BEAUTY                      object
 12  family_BEVERAGES                   object
 13  family_BOOKS                       object
 14  family_BREAD/BAKERY                object
 15  family_CELEBRATION                 object
 16  family_CLEANING                    object
 17  family_DAIRY                       object
 18  family_DELI                        object
 19  family_EGGS                        object
 20  family_FROZEN FOODS                object
 21  family_GROCERY I                   object
 22  family_GROCERY II                  object
 23  family_HARDWARE                    object
 24  family_HOME AND KITCHEN I          object
 25  family_HOME AND KITCHEN II         object
 26  family_HOME APPLIANCES             object
 27  family_HOME CARE                   object
 28  family_LADIESWEAR                  object
 29  family_LAWN AND GARDEN             object
 30  family_LINGERIE                    object
 31  family_LIQUOR,WINE,BEER            object
 32  family_MAGAZINES                   object
 33  family_MEATS                       object
 34  family_PERSONAL CARE               object
 35  family_PET SUPPLIES                object
 36  family_PLAYERS AND ELECTRONICS     object
 37  family_POULTRY                     object
 38  family_PREPARED FOODS              object
 39  family_PRODUCE                     object
 40  family_SCHOOL AND OFFICE SUPPLIES  object
 41  family_SEAFOOD                     object
 42  onpromotion                        object
 43  dcoilwtico                         object
 44  transactions                       object
 45  id                                 object
 46  date                               datetime64[ns]
 47  store_nbr                          object
 48  sales                              object
 49  description                        object
 50  transferred                        object
 51  cluster                            object
 52  year                               object
 53  quarter                            object
 54  month                              object
 55  day                                object
 56  day_of_week                        object
 57  weekend_flag                       object
dtypes: datetime64[ns](1), object(57)
memory usage: 1.3+ GB

In [47]:
# Inspect the first few rows of the description column
print(transformed_df_train1['description'].head())

# Check for non-string entries
print(transformed_df_train1['description'].apply(type).value_counts())

0    Primer dia del ano
1    Primer dia del ano
2    Primer dia del ano
3    Primer dia del ano
4    Primer dia del ano
Name: description, dtype: object
description
<class 'str'>    3054348
Name: count, dtype: int64

In [51]:
transformed_df_train1['description'].isnull().sum()

0

In [ ]:
tfidf = TfidfVectorizer()
tfidf_features = tfidf.fit_transform(transformed_df_train1['description'])

# Aggregate TF-IDF scores by summing them row-wise
transformed_df_train1['description_tfidf_sum'] = tfidf_features.sum(axis=1).A1  # Convert sparse matrix row sums to 1D array

In [84]:
tfidf_features_test1 = tfidf.fit_transform(transformed_df_test1['description'])

transformed_df_test1['description_tfidf_sum'] = tfidf_features_test1.sum(axis=1).A1

In [55]:
transformed_df_train1.head()

,locale,locale_name,city,state,type_x,type_y,year_quarter,year_month,day_name,family_AUTOMOTIVE,...,description,transferred,cluster,year,quarter,month,day,day_of_week,weekend_flag,description_tfidf_sum
0,1.0,4.0,18.0,12.0,3.0,3.0,0.0,0.0,1.0,1.0,...,Primer dia del ano,0,13,2013,1,1,1,1,1,1.99595
1,1.0,4.0,18.0,12.0,3.0,3.0,0.0,0.0,1.0,0.0,...,Primer dia del ano,0,13,2013,1,1,1,1,1,1.99595
2,1.0,4.0,18.0,12.0,3.0,3.0,0.0,0.0,1.0,0.0,...,Primer dia del ano,0,13,2013,1,1,1,1,1,1.99595
3,1.0,4.0,18.0,12.0,3.0,3.0,0.0,0.0,1.0,0.0,...,Primer dia del ano,0,13,2013,1,1,1,1,1,1.99595
4,1.0,4.0,18.0,12.0,3.0,3.0,0.0,0.0,1.0,0.0,...,Primer dia del ano,0,13,2013,1,1,1,1,1,1.99595

In [56]:
description_columns = transformed_df_train1['description']

In [57]:
transformed_df_train1.drop(columns='description', inplace=True)

In [85]:
transformed_df_test1.drop(columns='description', inplace=True)

In [58]:
transformed_df_train1.shape

(3054348, 58)

In [59]:
transformed_df_train1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3054348 entries, 0 to 3054347
Data columns (total 58 columns):
 #   Column                             Dtype
---  ------                             -----
 0   locale                             object
 1   locale_name                        object
 2   city                               object
 3   state                              object
 4   type_x                             object
 5   type_y                             object
 6   year_quarter                       object
 7   year_month                         object
 8   day_name                           object
 9   family_AUTOMOTIVE                  object
 10  family_BABY CARE                   object
 11  family_BEAUTY                      object
 12  family_BEVERAGES                   object
 13  family_BOOKS                       object
 14  family_BREAD/BAKERY                object
 15  family_CELEBRATION                 object
 16  family_CLEANING                    object
 17  family_DAIRY                       object
 18  family_DELI                        object
 19  family_EGGS                        object
 20  family_FROZEN FOODS                object
 21  family_GROCERY I                   object
 22  family_GROCERY II                  object
 23  family_HARDWARE                    object
 24  family_HOME AND KITCHEN I          object
 25  family_HOME AND KITCHEN II         object
 26  family_HOME APPLIANCES             object
 27  family_HOME CARE                   object
 28  family_LADIESWEAR                  object
 29  family_LAWN AND GARDEN             object
 30  family_LINGERIE                    object
 31  family_LIQUOR,WINE,BEER            object
 32  family_MAGAZINES                   object
 33  family_MEATS                       object
 34  family_PERSONAL CARE               object
 35  family_PET SUPPLIES                object
 36  family_PLAYERS AND ELECTRONICS     object
 37  family_POULTRY                     object
 38  family_PREPARED FOODS              object
 39  family_PRODUCE                     object
 40  family_SCHOOL AND OFFICE SUPPLIES  object
 41  family_SEAFOOD                     object
 42  onpromotion                        object
 43  dcoilwtico                         object
 44  transactions                       object
 45  id                                 object
 46  date                               datetime64[ns]
 47  store_nbr                          object
 48  sales                              object
 49  transferred                        object
 50  cluster                            object
 51  year                               object
 52  quarter                            object
 53  month                              object
 54  day                                object
 55  day_of_week                        object
 56  weekend_flag                       object
 57  description_tfidf_sum              float64
dtypes: datetime64[ns](1), float64(1), object(56)
memory usage: 1.3+ GB

In [63]:
transformed_categorical_columns = transformed_df_train1.select_dtypes(include=['object', 'category']).columns.tolist()
print("Categorical Columns:", transformed_categorical_columns)

Categorical Columns: ['locale', 'locale_name', 'city', 'state', 'type_x', 'type_y', 'year_quarter', 'year_month', 'day_name', 'family_AUTOMOTIVE', 'family_BABY CARE', 'family_BEAUTY', 'family_BEVERAGES', 'family_BOOKS', 'family_BREAD/BAKERY', 'family_CELEBRATION', 'family_CLEANING', 'family_DAIRY', 'family_DELI', 'family_EGGS', 'family_FROZEN FOODS', 'family_GROCERY I', 'family_GROCERY II', 'family_HARDWARE', 'family_HOME AND KITCHEN I', 'family_HOME AND KITCHEN II', 'family_HOME APPLIANCES', 'family_HOME CARE', 'family_LADIESWEAR', 'family_LAWN AND GARDEN', 'family_LINGERIE', 'family_LIQUOR,WINE,BEER', 'family_MAGAZINES', 'family_MEATS', 'family_PERSONAL CARE', 'family_PET SUPPLIES', 'family_PLAYERS AND ELECTRONICS', 'family_POULTRY', 'family_PREPARED FOODS', 'family_PRODUCE', 'family_SCHOOL AND OFFICE SUPPLIES', 'family_SEAFOOD', 'onpromotion', 'dcoilwtico', 'transactions', 'id', 'store_nbr', 'sales', 'transferred', 'cluster', 'year', 'quarter', 'month', 'day', 'day_of_week', 'weekend_flag']

In [66]:
transformed_df_train1[transformed_categorical_columns] = transformed_df_train1[transformed_categorical_columns].astype('float64')

In [87]:
transformed_categorical_columns_df_test1 = transformed_df_test1.select_dtypes(include=['object', 'category']).columns.tolist()
transformed_df_test1[transformed_categorical_columns_df_test1] = transformed_df_test1[transformed_categorical_columns_df_test1].astype('float64')

In [67]:
transformed_df_train1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3054348 entries, 0 to 3054347
Data columns (total 58 columns):
 #   Column                             Dtype
---  ------                             -----
 0   locale                             float64
 1   locale_name                        float64
 2   city                               float64
 3   state                              float64
 4   type_x                             float64
 5   type_y                             float64
 6   year_quarter                       float64
 7   year_month                         float64
 8   day_name                           float64
 9   family_AUTOMOTIVE                  float64
 10  family_BABY CARE                   float64
 11  family_BEAUTY                      float64
 12  family_BEVERAGES                   float64
 13  family_BOOKS                       float64
 14  family_BREAD/BAKERY                float64
 15  family_CELEBRATION                 float64
 16  family_CLEANING                    float64
 17  family_DAIRY                       float64
 18  family_DELI                        float64
 19  family_EGGS                        float64
 20  family_FROZEN FOODS                float64
 21  family_GROCERY I                   float64
 22  family_GROCERY II                  float64
 23  family_HARDWARE                    float64
 24  family_HOME AND KITCHEN I          float64
 25  family_HOME AND KITCHEN II         float64
 26  family_HOME APPLIANCES             float64
 27  family_HOME CARE                   float64
 28  family_LADIESWEAR                  float64
 29  family_LAWN AND GARDEN             float64
 30  family_LINGERIE                    float64
 31  family_LIQUOR,WINE,BEER            float64
 32  family_MAGAZINES                   float64
 33  family_MEATS                       float64
 34  family_PERSONAL CARE               float64
 35  family_PET SUPPLIES                float64
 36  family_PLAYERS AND ELECTRONICS     float64
 37  family_POULTRY                     float64
 38  family_PREPARED FOODS              float64
 39  family_PRODUCE                     float64
 40  family_SCHOOL AND OFFICE SUPPLIES  float64
 41  family_SEAFOOD                     float64
 42  onpromotion                        float64
 43  dcoilwtico                         float64
 44  transactions                       float64
 45  id                                 float64
 46  date                               datetime64[ns]
 47  store_nbr                          float64
 48  sales                              float64
 49  transferred                        float64
 50  cluster                            float64
 51  year                               float64
 52  quarter                            float64
 53  month                              float64
 54  day                                float64
 55  day_of_week                        float64
 56  weekend_flag                       float64
 57  description_tfidf_sum              float64
dtypes: datetime64[ns](1), float64(57)
memory usage: 1.3 GB

In [88]:
transformed_df_test1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28512 entries, 0 to 28511
Data columns (total 57 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   locale                             28512 non-null  float64
 1   locale_name                        28512 non-null  float64
 2   city                               28512 non-null  float64
 3   state                              28512 non-null  float64
 4   type_x                             28512 non-null  float64
 5   type_y                             28512 non-null  float64
 6   year_quarter                       28512 non-null  float64
 7   year_month                         28512 non-null  float64
 8   day_name                           28512 non-null  float64
 9   family_AUTOMOTIVE                  28512 non-null  float64
 10  family_BABY CARE                   28512 non-null  float64
 11  family_BEAUTY                      28512 non-null  float64
 12  family_BEVERAGES                   28512 non-null  float64
 13  family_BOOKS                       28512 non-null  float64
 14  family_BREAD/BAKERY                28512 non-null  float64
 15  family_CELEBRATION                 28512 non-null  float64
 16  family_CLEANING                    28512 non-null  float64
 17  family_DAIRY                       28512 non-null  float64
 18  family_DELI                        28512 non-null  float64
 19  family_EGGS                        28512 non-null  float64
 20  family_FROZEN FOODS                28512 non-null  float64
 21  family_GROCERY I                   28512 non-null  float64
 22  family_GROCERY II                  28512 non-null  float64
 23  family_HARDWARE                    28512 non-null  float64
 24  family_HOME AND KITCHEN I          28512 non-null  float64
 25  family_HOME AND KITCHEN II         28512 non-null  float64
 26  family_HOME APPLIANCES             28512 non-null  float64
 27  family_HOME CARE                   28512 non-null  float64
 28  family_LADIESWEAR                  28512 non-null  float64
 29  family_LAWN AND GARDEN             28512 non-null  float64
 30  family_LINGERIE                    28512 non-null  float64
 31  family_LIQUOR,WINE,BEER            28512 non-null  float64
 32  family_MAGAZINES                   28512 non-null  float64
 33  family_MEATS                       28512 non-null  float64
 34  family_PERSONAL CARE               28512 non-null  float64
 35  family_PET SUPPLIES                28512 non-null  float64
 36  family_PLAYERS AND ELECTRONICS     28512 non-null  float64
 37  family_POULTRY                     28512 non-null  float64
 38  family_PREPARED FOODS              28512 non-null  float64
 39  family_PRODUCE                     28512 non-null  float64
 40  family_SCHOOL AND OFFICE SUPPLIES  28512 non-null  float64
 41  family_SEAFOOD                     28512 non-null  float64
 42  onpromotion                        28512 non-null  float64
 43  dcoilwtico                         28512 non-null  float64
 44  transactions                       28512 non-null  float64
 45  id                                 28512 non-null  float64
 46  date                               28512 non-null  datetime64[ns]
 47  store_nbr                          28512 non-null  float64
 48  transferred                        28512 non-null  float64
 49  cluster                            28512 non-null  float64
 50  year                               28512 non-null  float64
 51  quarter                            28512 non-null  float64
 52  month                              28512 non-null  float64
 53  day                                28512 non-null  float64
 54  day_of_week                        28512 non-null  float64
 55  weekend_flag                       28512 non-null  float64
 56  description_tfidf_sum              28512 non-null  float64
dtypes: datetime64[ns](1), float64(56)
memory usage: 12.4 MB

In [68]:
transformed_date_columns = transformed_df_train1.select_dtypes(include=['datetime64']).columns.tolist()
print("Datetime Columns:", transformed_date_columns)

Datetime Columns: ['date']

In [71]:
target = 'sales'

X = transformed_df_train1.drop(columns=['date', 'sales'])
y = transformed_df_train1[target]

In [75]:
from sklearn.model_selection import train_test_split
from xgboost import XGBRegressor
import xgboost as xgb
from sklearn.metrics import mean_squared_error, r2_score, mean_absolute_error, mean_squared_log_error

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

xgb_model = XGBRegressor(n_estimators=200, learning_rate=0.1, max_depth=9, random_state=42)

xgb_model.fit(X_train, y_train)

XGBRegressor(base_score=None, booster=None, callbacks=None,
             colsample_bylevel=None, colsample_bynode=None,
             colsample_bytree=None, device=None, early_stopping_rounds=None,
             enable_categorical=False, eval_metric=None, feature_types=None,
             gamma=None, grow_policy=None, importance_type=None,
             interaction_constraints=None, learning_rate=0.1, max_bin=None,
             max_cat_threshold=None, max_cat_to_onehot=None,
             max_delta_step=None, max_depth=9, max_leaves=None,
             min_child_weight=None, missing=nan, monotone_constraints=None,
             multi_strategy=None, n_estimators=200, n_jobs=None,
             num_parallel_tree=None, random_state=42, ...)

In [78]:
y_pred = xgb_model.predict(X_test)

mse = mean_squared_error(y_test, y_pred)
r2 = r2_score(y_test, y_pred)
mae = mean_absolute_error(y_test, y_pred)
rmse = mean_squared_error(y_test, y_pred, squared=False)

print(f"Mean Squared Error: {mse:.2f}")
print(f"Root Mean Squared Error: {rmse:.2f}")
print(f"Mean Absolute Error: {mae:.2f}")
print(f"R^2 Score: {r2:.4f}")

Mean Squared Error: 33276.47
Root Mean Squared Error: 182.42
Mean Absolute Error: 46.71
R^2 Score: 0.9722

c:\Users\nhl08\OneDrive\Documents\AI02\Udemy\.mvenv\Lib\site-packages\sklearn\metrics\_regression.py:483: FutureWarning: 'squared' is deprecated in version 1.4 and will be removed in 1.6. To calculate the root mean squared error, use the function'root_mean_squared_error'.
  warnings.warn(

In [90]:
X_df_test = transformed_df_test1.drop(columns='date')
sale_submission = xgb_model.predict(X_df_test)

In [ ]:
id_column = df_test['id'] 

predictions_df = pd.DataFrame({
    'id': id_column,
    'sales': sale_submission
})

predictions_df.to_csv('submission_v2.csv', index=False)